
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}
body, .wrapper, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    min-height: 100vh;
    background: #4a98f7;
}
.wrapper{
    width: 440px;
    padding: 30px 30px 38px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper img{
    max-width: 103px;
}
.wrapper h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
}
.wrapper .content{
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.content.disable{
    cursor: no-drop;
}
.content .column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100%/3-5px);
}
.content.disable .column{
    opacity: 0.6;
    pointer-events: none;
  }
.column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
}
.wrapper button{
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 5px;
    background: #4a98f7;
    cursor: pointer;
}
.wrapper button:hover{
    background: #4a87d2;
}
